/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
      src: url("/fonts/Inter-Variable.woff2") format('woff2');
      font-family: 'Inter';
  }

@font-face {
      src: url("/fonts/PressStart2P-Regular.woff") format('woff');
      font-family: 'PressStart2P';
      font-weight: 100 900;
      font-variation-settings: 'wght' 400;
  }
