/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  width: 1440px;
  height: 9071px;
  margin: auto;
}

/**/

header {
  width: 1440px;
  height: 960px;
  background-image: url("/images/background.svg");
}

.banner_text {
  display: grid;
  gap: 20px;
  margin: 128px;
  justify-items: center;
}

.banner {
  position: absolute;
  margin: 100px 370px;
  width: 696px;
  height: 364px;
  background-color: #FFFFFF;
  border: 2px solid #000;
}

.header_title, .banner_text{
  font-family: "PressStart2P";
  font-weight: 400;
  font-style: Regular;
  font-size: 65px;
  line-height: 100%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header_text {
  font-size: 23px;
}


/**/

main{
  display: grid;
  gap: 50px;
  justify-items: center;
  position: relative;
  bottom: 392px;
}

.post {
  width: 696px;
}

.post_block_title {
  width: 696px;
  height: 31px;
  border: 2px solid #000;
  background-color: #FFF;
}

.post_title {
  height: 25px;
  font-family: "Inter";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  padding: 3px 10px;
}

.post_image_1,
.post_image_2,
.post_image_3,
.post_image_4,
.post_image_5,
.post_image_6,
.post_image_7,
.post_image_8 {
  position: relative;
  bottom: 2px;
  background-image: url("/images/post_1.svg");
  width: 696px;
  height: 696px;
  background-size: contain;
  background-repeat: no-repeat;
}

.post_image_text {
  display: flex;
  justify-self: end;
  padding: 25px;
  opacity: 50%;
  font-family: "PressStart2P";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

@supports (-webkit-text-stroke: 1px #FFF) {
    .post_image_text {
        -webkit-text-stroke: 1px #FFF;      
    }
}

.post_content {
  padding: 25px 25px;
  position: relative;
  bottom: 4px;
  border: 2px solid #000;
}

.post_text {
  display: grid;
  gap: 27px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.button {
  display: flex;
  width: 169px;
  height: 38px;
  gap: 19px;
  position: relative;
  left: 473px;
  top: 25px;
  gap: 10px;  
  margin-bottom: 25px;
}

.button_block_text {
  display: flex;
  width: 130px;
  border: 2px solid #000;
  justify-content: center;  
}

.button_text_like_1, .button_text_unlike_1,
.button_text_like_2, .button_text_unlike_2,
.button_text_like_3, .button_text_unlike_3,
.button_text_like_4, .button_text_unlike_4,
.button_text_like_5, .button_text_unlike_5,
.button_text_like_6, .button_text_unlike_6,
.button_text_like_7, .button_text_unlike_7,
.button_text_like_8, .button_text_unlike_8 {
  align-content: center;
  font-family: "PressStart2P";
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}
.button_text_unlike_1,
.button_text_unlike_2,
.button_text_unlike_3,
.button_text_unlike_4,
.button_text_unlike_5,
.button_text_unlike_6,
.button_text_unlike_7,
.button_text_unlike_8 {
  display: none;
}

.button_like {
  align-content: center;
}


.end {
  width: 335px;
  height: 51px;
  display: flex;
  gap: 8px;
  border: 2px solid #000;
}

.end_image {
  margin-top: 15px;
  margin-left: 19px;
  width: 21px;
  height: 21px;
}

.end_text {
  
  align-content: center;
  font-family: "PressStart2P";
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  vertical-align: middle;
}




@media (width < 376px) {
  
  main{
  bottom: 140px;
  }

  .page {
    width: 375px;
    height: 7443px;
    margin: 0;
  }

  header {
    width: 375px;
    height: 667px;
  }

  .banner {
    margin: 100px 0;
    width: 375px;
    height: 323px;
  }

  .banner_text {
    display: grid;
    gap: 20px;
    margin: 120px 14px;
    justify-items: center;
  }

  .header_title {
    font-size: 49px;
  }

  .header_text {
    font-size: 14px;
  }

  .post {
  width: 375px;
  } 

  .post_image_1,
  .post_image_2,
  .post_image_3,
  .post_image_4,
  .post_image_5,
  .post_image_6,
  .post_image_7,
  .post_image_8  {
  width: 375px;
  height: 375px;
  }
  
  .post_image_text {  
  padding: 25px 13px;
  }

  .post_block_title {
  width: 375px;
  height: 52px;
  }

  .post_content {
  width: 375px;
  }

  .button_block_text {  
  width: 130px;
  }

  .button {
  left: 177px;
  }
  .end {
  width: 306px;
  height: 80px;
  flex-direction: column;
  }

  .end_image {
  margin-top: 15px;
  margin-left: 138.5px;
  width: 28px;
  height: 28px;
  }
  
  .end_text {
    margin-left: 19.5px;
  }
}
