/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  width: 1440px;
  height: 9071px;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-variation-settings: 'wght' var(--wght_basic_text);
  font-size: var(--size_basic_text);
  line-height: 100%;
}

header {
  width: 1440px;
  height: 960px;
}

.background {
  width: 1440px;
  height: 960px;
  position: fixed;
  background-image: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 0px 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0 2px,
      transparent 0px 4px
    ),
    linear-gradient(
      180deg,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
  background-size: cover;
}

.banner_text {
  display: grid;
  gap: 20px;
  margin: 128px;
  justify-items: center;
}

.banner {
  position: absolute;
  margin: 100px 370px;
  width: 696px;
  height: 364px;
  background-color: #FFFFFF;
  border: 2px solid #000;
}

.header_title,
.banner_text {
  font-family: "PressStart2P", monospace;
  font-variation-settings: 'wght' var(--wght_accent_text);
  font-size: var(--size_accent_title);
  line-height: 100%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header_text {
  font-size: var(--size_accent_text);
}

main {
  display: grid;
  gap: 50px;
  justify-items: center;
  position: relative;
  bottom: 392px;
}

.post {
  width: 700px;
  border: 2px solid #000;
  background-color: #FFF;
}

.post_block_title {
  width: 696px;
  height: 31px;
  padding: 3px 10px;
}

.post_title {
  font-variation-settings: 'wght' var(--wght_basic_title);
  font-size: var(--size_basic_title);
  vertical-align: middle;
  height: 25px;
}

.border_post_image {
  overflow: hidden;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.post_image_1,
.post_image_2,
.post_image_3,
.post_image_4,
.post_image_5,
.post_image_6,
.post_image_7,
.post_image_8 {
  width: 696px;
  height: 696px;
  background-image: url('/images/post_image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.post_image_1 img {
  filter: contrast(115%);
}

.post_image_2 img {
  filter: grayscale(75%);
}

.post_image_3 img {
  filter: saturate(350%);
}

.post_image_4 img {
  filter: hue-rotate(30deg);
}

.post_image_5 img {
  filter: invert(0.75);
}

.post_image_6 img {
  filter: sepia(90%);
}

.post_image_7 img {
  filter: blur(20px);
}

.post_image_8 img {
  filter: blur(2px) brightness(90%) hue-rotate(90deg) saturate(200%) contrast(50%);
}

.lable {
  position: absolute;
  bottom: 1px;
  z-index: 100;
  width: 696px;
  height: 696px;
  display: flex;
  justify-content: flex-end;
}

.post_image_text {
  z-index: 100;
  padding: 25px;
  opacity: 50%;
  font-family: "PressStart2P", monospace;
  font-variation-settings: 'wght' var(--wght_basic_text);
  font-size: var(--size_accent_lible);
  line-height: 100%;
}

@supports (-webkit-text-stroke: 1px #FFF) {
  .post_image_text {
    -webkit-text-stroke: 1px #FFF;
  }
}

.post_content {
  display: grid;
  padding: 25px 25px;
  background-color: #FFF;
  justify-items: end;
  gap: 25px;
}

.post_text {
  display: grid;
  gap: 27px;
  line-height: 21px;
}

button {
  outline: none;
  border: none;
  background-color: #FFF;
}

.button {
  display: flex;
  width: 169px;
  height: 38px;
  gap: 10px;
  transition: 0.3s ease;
  font-family: "PressStart2P", monospace;
  font-variation-settings: 'wght' var(--wght_basic_title);
  font-size: 14px;
  line-height: 90%;
}

.card_like_button {
  padding: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 130px;
  border: 2px solid #000;
  justify-content: center;
  z-index: 1;
  color: #000;
  transition: color 0.5s ease-in-out;
}

.card_like_button:focus-visible {
  box-shadow: 2px 2px #000;
}

.card_like_button::before {
  position: absolute;
  transform: translateX(-130px);
  content: '';
  width: 130px;
  height: 38px;
  background-color: #000;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.card_like_button:hover::before {
  transform: translateX(0px);
}

.card_like_button:hover {
  color: #FFF;
}

.button__text {
  align-content: center;
}

.like-button:focus {
  border: none;
}

.like_button {
  padding: 0;
  background: none;
  border: none;
  transition: border 0.3s ease;
}

.like_button .sparks {
  opacity: 0;
}

.like-button:focus-visible {
  border: 2px solid #000;
}

.like-icon:hover .heart .core {
  fill: var(--accent-color, #000);
  transition-delay: 0s;
}

.like-icon:hover .heart .main-body {
  fill: var(--accent-color, #000);
  transition-delay: 0.05s;
}

.like-icon:active .heart .core {
  fill: var(--animation-fill-color, #FF0000);
  transition-delay: 0s;
}

.like-icon:active .heart .main-body {
  fill: var(--animation-fill-color, #FF0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart .core {
  fill: var(--animation-fill-color, #FF0000);
  transition-delay: 0s;
}

.like-icon.is-liked .heart .main-body {
  fill: var(--animation-fill-color, #FF0000);
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart .contour {
  animation: fillContour 0.3s ease-in 0.06s forwards;
}

.like-icon.is-liked .heart {
  animation: scaleHeart 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: showSparks 0.3s ease-in 0.3s;
}

.like-icon:not(.is-liked) .core {
  fill: #FFF;
  transition-delay: 0.03s;
}

.like-icon:not(.is-liked) .main-body {
  fill: #FFF;
  transition-delay: 0s;
}

.like-icon:not(.is-liked) .contour {
  animation: clearContour 0.1s linear forwards;
}

.like_button:focus-visible {
  border: 2px solid #000;
}

.end {
  width: 335px;
  height: 51px;
  display: flex;
  gap: 8px;
  border: 2px solid #000;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
  z-index: 1;
  color: #000;
  transition: color 0.5s ease-in-out;
  --color_floppy: #000;
}

.end_text {
  font-family: "PressStart2P", monospace;
  font-size: var(--size_accent_like);
  line-height: 90%;
  transition: color 0.5s ease-in-out;
}

.end:focus {
  box-shadow: 2px 2px #000;
  outline: none;
}

.end::before {
  position: absolute;
  transform: translateX(-335px);
  content: '';
  width: 335px;
  height: 51px;
  background-color: #000;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.end:hover::before {
  transform: translateX(0px);
}

.end:hover {
  color: #FFF;
  --color_floppy: #FFF;
}

.end_image {
  width: 21px;
  height: 21px;
}

.end_image_color {
  fill: var(--color_floppy);
  transition: fill 0.5s ease-in-out;
}

.dialog {
  width: 357px;
  height: 193px;
  font-family: "PressStart2P", monospace;
  font-size: var(--size_accent_like);
  line-height: 150%;
  border: 2px solid #000;
  background-color: #FFF;
  padding: 0;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.dialog__container {
  display: grid;
  gap: 30px;
  justify-content: center;
  align-content: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.dialog_text {
  width: 234px;
  height: 63px;
  margin: 0;
}

.dialog_image {
  width: 39px;
  height: 39px;
}

.dialog_flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}

.dialog_button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 293px;
  height: 38px;
  border: 2px solid #000;
  background-color: #FFF;
  overflow: hidden;
  position: relative;
  z-index: 0;
  color: #000;
  transition: color 0.5s ease-in-out;
  font-family: "PressStart2P", monospace;
  font-size: var(--size_accent_like);
  cursor: pointer;
}

.dialog_button::before {
  display: block;
  position: absolute;
  transform: translateX(-300px);
  content: '';
  width: 300px;
  height: 38px;
  background-color: #000;
  z-index: -1;
  transition: transform 0.5s ease-in-out;
}

.dialog_button:hover::before {
  transform: translateX(0px);
}

.dialog_button:hover {
  color: #FFF;
}

@media (width <= 375px) {
  main {
    bottom: 140px;
  }

  .page {
    width: 375px;
    height: 7443px;
    margin: 0;
  }

  header {
    width: 375px;
    height: 667px;
  }

  .banner {
    margin: 100px 0;
    width: 375px;
    height: 323px;
  }

  .banner_text {
    display: grid;
    gap: 20px;
    margin: 120px 14px;
    justify-items: center;
  }

  .header_title {
    font-size: 49px;
  }

  .header_text {
    font-size: 14px;
  }

  .post {
    width: 375px;
  }

  .post_image_1,
  .post_image_2,
  .post_image_3,
  .post_image_4,
  .post_image_5,
  .post_image_6,
  .post_image_7,
  .post_image_8 {
    width: 371px;
    height: 371px;
  }

  .lable {
    width: 375px;
    height: 375px;
  }
  
  .post_image_text {
    padding: 25px 13px;
  }

  .post_block_title {
    width: 371px;
    height: 31px;
  }

  .post_1 {
    width: 371px;
    height: 52px;
  }

  .post_content {
    width: 371px;
  }

  .card_like_button {
    width: 130px;
  }
  
  .end {
    width: 306px;
    height: 80px;
    flex-direction: column;
  }

  .end::before {
    width: 306px;
    height: 80px;
  }

  .end_image {
    width: 28px;
    height: 28px;
  }
}
