/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  width: 1440px;
  height: 9071px;
  margin: auto;
  font-family: "Inter", sans-serif;
  font-variation-settings: 'wght' var(--wght_basic_text);
  font-size: var(--size_basic_text);
  line-height: 100%;
}

/**/

header {
  width: 1440px;
  height: 960px;
}

.background {
  width: 1440px;
  height: 960px;
  position: fixed;
  background-image: 
    repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 0px 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0 2px,
      transparent 0px 4px
    ),
    linear-gradient(
      180deg,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
  background-size: cover;
}

.banner_text {
  display: grid;
  gap: 20px;
  margin: 128px;
  justify-items: center;
}

.banner {
  position: absolute;
  margin: 100px 370px;
  width: 696px;
  height: 364px;
  background-color: #FFFFFF;
  border: 2px solid #000;
}

.header_title, 
.banner_text {
  font-family: "PressStart2P", monospace;
  font-variation-settings: 'wght' var(--wght_accent_text);
  font-size: var(--size_accent_title);
  line-height: 100%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header_text {
  font-size: var(--size_accent_text);
}

/**/

main {
  display: grid;
  gap: 50px;
  justify-items: center;
  position: relative;
  bottom: 392px;
}

.post {
  width: 700px;  
  border: 2px solid #000;
  background-color: #FFF;
}

.post_block_title {
  width: 696px;
  height: 31px;
  padding: 3px 10px;
}

.post_title {
  font-variation-settings: 'wght' var(--wght_basic_title);
  font-size: var(--size_basic_title);
  vertical-align: middle;
  height: 25px;
}

.border_post_image {
  overflow: hidden;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.post_image_1,
.post_image_2,
.post_image_3,
.post_image_4,
.post_image_5,
.post_image_6,
.post_image_7,
.post_image_8 {
  background-image: url("/images/post_image.png");
  width: 696px;
  height: 696px;
  background-size: contain;
  background-repeat: no-repeat;
}

.post_image_2 {
  filter: grayscale(75%);
}

.post_image_3 {
  filter: saturate(350%);
}

.post_image_4 {
  filter: hue-rotate(30deg);
}

.post_image_5 {
  filter: invert(0.75);
}

.post_image_6 {
  filter: sepia(90%);
}

.post_image_7 {
  filter: blur(20px);
}

.post_image_8 {
  filter: blur(2px) brightness(90%) hue-rotate(90deg) saturate(200%) contrast(50%);
}

.post_image_text {
  display: flex;
  justify-self: end;
  padding: 25px;
  opacity: 50%;
  font-family: "PressStart2P", monospace;
  font-variation-settings: 'wght' var(--wght_basic_text);
  font-size: var(--size_accent_lible);
  line-height: 100%;
}

@supports (-webkit-text-stroke: 1px #FFF) {
  .post_image_text {
    -webkit-text-stroke: 1px #FFF;      
  }
}

.post_content {
  display: grid;
  padding: 25px 25px;
  background-color: #FFF;
  justify-items: end;
  gap: 25px;
}

.post_text {
  display: grid;
  gap: 27px;
  line-height: 21px;
}

.button {
  display: flex;
  width: 169px;
  height: 38px;
  gap: 10px;
}

.button_block_text {
  display: flex;
  width: 130px;
  border: 2px solid #000;
  justify-content: center;  
}

.button_block_text:hover {
  color: #FFF;
  background-color: #000;
}

.button_text_like_1,
.button_text_unlike_1,
.button_text_like_2,
.button_text_unlike_2,
.button_text_like_3,
.button_text_unlike_3,
.button_text_like_4,
.button_text_unlike_4,
.button_text_like_5,
.button_text_unlike_5,
.button_text_like_6,
.button_text_unlike_6,
.button_text_like_7,
.button_text_unlike_7,
.button_text_like_8,
.button_text_unlike_8 {
  align-content: center;
  font-family: "PressStart2P", monospace;
  font-variation-settings: 'wght' var(--wght_basic_title);
  font-size: 14px;
  line-height: 90%;
}

.button_text_unlike_1,
.button_text_unlike_2,
.button_text_unlike_3,
.button_text_unlike_4,
.button_text_unlike_5,
.button_text_unlike_6,
.button_text_unlike_7,
.button_text_unlike_8 {
  display: none;
}

.button_like {
  align-content: center;
}

.end {
  width: 335px;
  height: 51px;
  display: flex;
  gap: 8px;
  border: 2px solid #000;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #FFF;
}

.end_image {
  width: 21px;
  height: 21px;
}

.end_text {
  font-family: "PressStart2P", monospace;
  font-size: var(--size_accent_like);
  line-height: 90%;
}

dialog:not([open]) {
  display: none;
}

dialog {  
  width: 357px;
  height: 193px;
  font-family: "PressStart2P", monospace;
  font-size: var(--size_accent_like);
  line-height: 150%;
  display: grid;
  gap: 30px;
  justify-content: center;
}

.dialog_text {
  width: 234px;
  height: 63px;
}

.dialog_image {
  width: 39px;
  height: 39px;
}

.dialog_flex {
  display: flex; 
  justify-content: space-around;
  align-items: center;
}

.dialog_button {
  width: 293px;
  height: 38px;
  border: 2px solid #000;
  background-color: #FFF;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width <= 375px) {
  main {
    bottom: 140px;
  }

  .page {
    width: 375px;
    height: 7443px;
    margin: 0;
  }

  header {
    width: 375px;
    height: 667px;
  }

  .banner {
    margin: 100px 0;
    width: 375px;
    height: 323px;
  }

  .banner_text {
    display: grid;
    gap: 20px;
    margin: 120px 14px;
    justify-items: center;
  }

  .header_title {
    font-size: 49px;
  }

  .header_text {
    font-size: 14px;
  }

  .post {
    width: 375px;
  } 

  .post_image_1,
  .post_image_2,
  .post_image_3,
  .post_image_4,
  .post_image_5,
  .post_image_6,
  .post_image_7,
  .post_image_8 {
    width: 371px;
    height: 371px;
  }
  
  .post_image_text {  
    padding: 25px 13px;
  }

  .post_block_title {
    width: 371px;
    height: 52px;
  }

  .post_content {
    width: 371px;
  }

  .button_block_text {  
    width: 130px;
  }
  
  .end {
    width: 306px;
    height: 80px;
    flex-direction: column;
  }

  .end_image {
    width: 28px;
    height: 28px;
  }
}
