/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  width: 1440px;
  height: 9071px;
  margin: auto;
}

/**/

header {
  width: 1440px;
  height: 960px;
  background-image: url("/images/background.svg");
}

.banner_text {
  display: grid;
  gap: 20px;
  margin: 128px;
  justify-items: center;
}

.banner {
  position: absolute;
  margin: 100px 370px;
  width: 696px;
  height: 364px;
  background-color: #FFFFFF;
  border: 2px solid #000;
}

.header_title, .banner_text{
  font-family: "PressStart2P";
  font-weight: 400;
  font-style: Regular;
  font-size: 65px;
  line-height: 100%;
  vertical-align: bottom;
  text-transform: uppercase;
}

.header_text {
  font-size: 23px;
}


/**/

main{
  display: grid;
  gap: 50px;
  justify-items: center;
}

.post {
  width: 696px;
  height: 959px;
}

.post_1 {
  position: relative;
  bottom: 392px;
}

.post_block_title {
  width: 696px;
  height: 31px;
  border: 2px solid #000;
  background-color: #FFF;
}

.post_title {
  height: 25px;
  font-family: "Inter";
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  vertical-align: middle;
  padding: 3px 10px;
}

.post_image {
  background-image: url("/images/post_1.svg");
  width: 696px;
  height: 696px;
  background-size: contain;
  background-repeat: no-repeat;
}

.post_image_text {
  position: relative;
  left: 573px;
  top: 25px;
  opacity: 50%;
  font-family: "PressStart2P";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
}

@supports ((-webkit-text-stroke: 1px #FFF) or (text-stroke: 1px #FFF)) {
    .post_image_text {
        -webkit-text-stroke: 1px #FFF;
        text-stroke: 1px #FFF;
    }
}

.post_content {
  padding: 25px 25px;
  position: relative;
  bottom: 2px;
  width: 696px;
  height: 224px;
  border: 2px solid #000;
}

.post_text {
  display: grid;
  gap: 27px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.button {
  display: flex;
  width: 169px;
  height: 38px;
  gap: 19px;
  position: relative;
  left: 473px;
  top: 25px;
  gap: 10px;  
}

.button_block_text {
  display: flex;
  width: 130px;
  border: 2px solid #000;
  justify-content: center;  
}

.button_text_like, .button_text_unlike {
  align-content: center;
  font-family: "PressStart2P";
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.button_like {
  align-content: center;
}
